# Envs & secrets
.env
.env.*
*.env
.env.local

# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Node/JS
node_modules/
dist/
.next/
.cache/

# Logs & misc
*.log
.DS_Store

# local sqlite
prisma/dev.db
.vercel
